EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.estoque.caelum.com.br/" schemaLocation="EstoqueWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="todosOsItens">
    <part name="parameters" element="tns:todosOsItens"/>
  </message>
  <message name="todosOsItensResponse">
    <part name="parameters" element="tns:todosOsItensResponse"/>
  </message>
  <message name="todosOsItens2">
    <part name="parameters" element="tns:todosOsItens2"/>
  </message>
  <message name="todosOsItens2Response">
    <part name="parameters" element="tns:todosOsItens2Response"/>
  </message>
  <message name="todosOsItens3">
    <part name="parameters" element="tns:todosOsItens3"/>
  </message>
  <message name="todosOsItens3Response">
    <part name="parameters" element="tns:itens"/>
  </message>
  <message name="CadastrarItem">
    <part name="parameters" element="tns:CadastrarItem"/>
    <part name="token" element="tns:token"/>
  </message>
  <message name="CadastrarItemResponse">
    <part name="result" element="tns:CadastrarItemResponse"/>
  </message>
  <message name="AutorizacaoException">
    <part name="fault" element="tns:AutorizacaoFault"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="todosOsItens">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensRequest" message="tns:todosOsItens"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItensResponse" message="tns:todosOsItensResponse"/>
    </operation>
    <operation name="todosOsItens2">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItens2Request" message="tns:todosOsItens2"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItens2Response" message="tns:todosOsItens2Response"/>
    </operation>
    <operation name="todosOsItens3">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItens3Request" message="tns:todosOsItens3"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/todosOsItens3Response" message="tns:todosOsItens3Response"/>
    </operation>
    <operation name="CadastrarItem" parameterOrder="parameters token">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemRequest" message="tns:CadastrarItem"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemResponse" message="tns:CadastrarItemResponse"/>
      <fault message="tns:AutorizacaoException" name="AutorizacaoException" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItem/Fault/AutorizacaoException"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="todosOsItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="todosOsItens2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="todosOsItens3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CadastrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:CadastrarItem" part="token" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AutorizacaoException">
        <soap:fault name="AutorizacaoException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

